.inner-circle {
    background-color: white;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    transform: translateY(-1%) translateX(1%);
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
.hided {
    opacity: 0;
}