.ath-container {
    position: relative;
    white-space: pre; /* Asegúrate de que los espacios se mantienen */
    display: flex;
    overflow:hidden;
    width: 100%;
    justify-content: center;
    color: white;
    line-height: 1.2;
  }
  
  .ath-linea1 {
      display: flex;
    position: relative;

  }
  .ath-linea2 {
      display: flex;
    position: absolute;

  }


  