.s2c-main {
  position: absolute;
  height: 100vh;
  align-self: center;
  width: 92%;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 3vw;
  grid-row-gap: 0px;
  margin-top: 5vh;
  transform: translateX(1%);
}


.s2c-p1 {
  grid-area: 2 / 1 / 5 / 6;
  transform: translateY(40%);
  color: white;
  padding-right: 3vw;
  z-index: -1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.s2c-p1-off{
opacity: 0;
  transform: translateY(50%);
}

.s2c-p1-h2 {
  width: 100%;
  margin: 0px;
}
.s2c-p2 {
  grid-area: 2 / 5 / 11 / 11; 
  color: white;
  padding-right: 3vw;
}


.s2c-photo {
  grid-area: 2 / 6 / 11 / 10;
  display: flex;
  overflow: hidden;
  border-radius: 40px;
  transform: translateY(-5%);
  transition: transform 0.5s ease-in-out;
}
.s2c-photo-d{
  transform: translateX(-140%);
}

.s2c-photo-inner {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.s2c-photo::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 40%,
    rgb(0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(to bottom, transparent, black);
  mask-image: linear-gradient(to bottom, transparent, black);
}

.s2c-button {
  grid-area: 4 / 10 / 7 / 12;
  display: flex;
  align-items: center;
  justify-content: center;
}
