.section2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}
.linea-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
}
.s2-upbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4vh;
z-index: 1;
}
.s2-upbar-count {
  padding-left: 3.7vw;
  color: white;
  display: flex;
  align-items: center;
}
.s2-upbar-count2 {
  padding-right: 3.7vw;
  color: white;
  display: flex;
  align-items: center;
}
.s2-upbar-about {
  color: white;
  display: flex;
  align-items: center;
}
.s2-upbar-social {
  color: white;
  display: flex;
  font-size: 1vw;
  align-items: center;

}
.s2-upbar-social span {
  color: white;
  display: flex;

}
.s2c-text-m {
  color: #f8fafb !important;
  font-size: 12vw;
  white-space: nowrap; /* Evita que el texto se ajuste a la siguiente línea */
  display: block; /* Opcional, asegura que el div ocupe todo el ancho */
  width: 100%; /* Hace que el div ocupe todo el ancho de la pantalla */
  /* Animación */
  animation: scroll-left 30s linear infinite;
  margin-top: 82vh;
}

/* Clave de animación para mover el texto de derecha a izquierda */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1200%);
  }
}
