.section2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
}
.linea-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 2px;
}
.s2-upbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 4vh;
z-index: 1;
}
.s2-upbar-count {
  padding-left: 3.7vw;
  color: white;
  display: flex;
  align-items: center;
}
.s2-upbar-count2 {
  padding-right: 3.7vw;
  color: white;
  display: flex;
  align-items: center;
}
.s2-upbar-about {
  color: white;
  display: flex;
  align-items: center;
}
.s2-upbar-social {
  color: white;
  display: flex;
  font-size: 1vw;
  align-items: center;

}
.s2-upbar-social span {
  color: white;
  display: flex;

}
.s2c-text-m {
  color: #f8fafb !important;
  display: flex;
  flex-direction: column;
  font-size: 5vw;
  line-height: 0.8;
 position: absolute;
  margin-top: 75vh;
  width: 100vw;
  opacity: 1;
  transition: transform 0.5s ease-in-out;
}
.s2c-text-m-small{

transform: scale(0.5) translateY(50%);
}
.s2c-text-m-l {
  white-space: nowrap;
  width: 100%;
  animation: scroll-left 20s linear infinite;
  cursor: crosshair;
}

.s2c-text-m-r {
  white-space: nowrap;

  width: 100%;
  animation: scroll-right 300s linear infinite;
  cursor: crosshair;
}

/* Pausar animación al hacer hover */
.s2c-text-m-l:hover, .s2c-text-m-r:hover {
  animation-play-state: paused;
}

/* Clave de animación para mover el texto de derecha a izquierda */
@keyframes scroll-left {
  0% {
      transform: translateX(-55%);
  }
  100% {
      transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  0% {
      transform: translateX(-800%);
  }
  100% {
      transform: translateX(100%);
  }
}
