.at-container {
  position: relative;
  white-space: pre; /* Asegúrate de que los espacios se mantienen */
  color: white;
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: center;
}

.at-linea1 {
    display: flex;
  position: relative;
}
.at-linea2 {
    display: flex;
  position: absolute;
}

