.section1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.tittles {
  margin-top: 20vh;
  width: 80%;
  display: flex;
  flex-direction: ROW;
  flex-wrap: wrap;
  color: white;
  text-align: center;
  transform: translateX(-12%);
}
.t-1 {
  font-size: 3.5vw;
  line-height: 0.85;
  width: 100%;
  transform: translateX(-6%);
}
.t-2 {
  font-size: 10vw;
  line-height: 0.85;
  width: 100%;
  letter-spacing: -0.25vw;
}
.t-3 {
  font-size: 9vw;
  line-height: 0.85;
  width: 56%;
  text-align: right;
  display: flex;
  flex-direction: column;
}
.t-3-1 {
  font-size: 3.5vw;
  width: 100%;
}
.t-3-2 {
  width: 100%;
  letter-spacing: -0.25vw;
}

.t-p {
  font-size: 1.5vw;
  line-height: 0.95;
  text-align: left;
  width: 32%;
  margin-left: 5%;
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  transform: translateX(-1.7vw) translateY(-1vw);
}
.t-p-child1 {
  text-align: right;
  width: 100%;
}
.t-p-child2 {
  text-align: justify;
  width: 100%;
}
.t-p-child3 {
  text-align: justify;
  width: 100%;
}
.t-p-child4 {
  text-align: justify;
  width: 100%;
}
.t-p-child5 {
  text-align: left;
  width: 100%;
}

.side-tittle {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}
.side-tittle-inner {
  padding-left: 3.7vw;
  color: white;
  display: flex;
  padding-bottom: 37vh;
  font-size: 0.8vw;
}
