
body::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento */
}

/* Para IE, Edge y Firefox */
body {
  cursor: crosshair;
  justify-content: center;
  display: flex;
  margin: 0 !important;
  -ms-overflow-style: none;  /* Para Internet Explorer y Edge */
  scrollbar-width: none;  /* Para Firefox */
  overflow-y: scroll; /* Mantiene la funcionalidad de desplazamiento */
}
a{
  text-decoration: none;
}
@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/PPTelegraf-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/PPTelegraf-UltraBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/PPTelegraf-UltraLight.otf') format('opentype');
  font-weight: 200; /* o el valor que corresponda a "UltraLight" */
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Telegraf', sans-serif;
  background-color: rgb(4, 2, 0);
}

.telegraf{
  font-family: 'Telegraf', sans-serif;
}

.bold-text {
  font-family: 'Telegraf';
  font-weight: bold;
  color: #f8fafb !important;
}
.white-text{
  color: #f8fafb !important;
}

.light-text {
  font-family: 'Telegraf';
  font-weight: 200;
}
.normal-text{
  font-family: 'Telegraf';
  font-weight: 400;
}
.bold{
  font-weight: bold;
}

.linea-roja {
  position: absolute; /* O 'fixed' si necesitas que permanezca en su lugar durante el desplazamiento */
  top: 0;
  left: 50%; /* Ajusta esto para alinear con tu sección */
  width: 1px; /* O el grosor que desees para la línea */
  height: 100vh;
  background-color: red;
  z-index: 10; /* Asegúrate de que esté por encima de otros elementos si es necesario */
}
/* <div className="linea-roja"></div> */